@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
  
  font-weight: 400;

  background-color: rgb(227, 237, 244);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0;
  padding: 0px 0 0 0;
  height: auto !important;
  min-height: 100%;
  min-width: 320px;
  font-family: 'DM Sans', sans-serif;
}


